parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Helpers\\\\Helper\\:\\:urlDisplay\\(\\) should return Illuminate\\\\Support\\\\Stringable\\|string but returns string\\|null\\.$#"
			count: 1
			path: app/Helpers/Helper.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, string\\|null given\\.$#"
			count: 1
			path: app/Helpers/Helper.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, string\\|null given\\.$#"
			count: 1
			path: app/Helpers/Helper.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|null given\\.$#"
			count: 1
			path: app/Helpers/Helper.php

		-
			message: "#^Parameter \\#1 \\$string of static method Illuminate\\\\Support\\\\Str\\:\\:of\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: app/Helpers/Helper.php

		-
			message: "#^Cannot access property \\$keyword on App\\\\Models\\\\Url\\|null\\.$#"
			count: 1
			path: app/Http/Middleware/UrlHubLinkChecker.php

		-
			message: "#^Cannot call method visits\\(\\) on App\\\\Models\\\\Url\\|null\\.$#"
			count: 2
			path: app/Models/Url.php

		-
			message: "#^Cannot access property \\$password on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: app/Rules/PwdCurrent.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|null given\\.$#"
			count: 1
			path: app/Services/KeyGeneratorService.php

		-
			message: "#^Cannot call method replicate\\(\\) on App\\\\Models\\\\Url\\|null\\.$#"
			count: 1
			path: app/Services/UHubLinkService.php

		-
			message: "#^Cannot call method assignRole\\(\\) on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: database/seeders/RolesAndPermissionsSeeder.php
