parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$email on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: tests/Feature/Auth/RegisterTest.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: tests/Feature/Auth/RegisterTest.php

		-
			message: "#^Cannot access property \\$name on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: tests/Feature/Auth/RegisterTest.php

		-
			message: "#^Cannot access property \\$password on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: tests/Feature/Auth/RegisterTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:assertAuthenticatedAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, App\\\\Models\\\\User\\|null given\\.$#"
			count: 1
			path: tests/Feature/Auth/RegisterTest.php

		-
			message: "#^Cannot access property \\$destination on App\\\\Models\\\\Url\\|null\\.$#"
			count: 1
			path: tests/Feature/AuthPage/DashboardPageTest.php

		-
			message: "#^Cannot access property \\$email on App\\\\Models\\\\User\\|null\\.$#"
			count: 1
			path: tests/Feature/AuthPage/User/ProfileTest.php

		-
			message: "#^Cannot access property \\$is_custom on App\\\\Models\\\\Url\\|null\\.$#"
			count: 2
			path: tests/Feature/FrontPage/ShortenUrl/CreateShortLinkTest.php

		-
			message: "#^Cannot access property \\$keyword on App\\\\Models\\\\Url\\|null\\.$#"
			count: 2
			path: tests/Feature/FrontPage/ShortenUrl/CreateShortLinkTest.php

		-
			message: "#^Cannot access property \\$user_id on App\\\\Models\\\\Url\\|null\\.$#"
			count: 2
			path: tests/Unit/Controllers/UrlControllerTest.php

		-
			message: "#^Cannot access property \\$user_id on App\\\\Models\\\\Url\\|null\\.$#"
			count: 1
			path: tests/Unit/Models/UrlTest.php
